<div>
    <h1>3 - Letter counter</h1>
    <h2>
        <%= command %>
    </h2>

    <form action="/count" method="post">
        <input type="text" name='name' placeholder='Your name'> <input type="submit" value="submit">
    </form>
</div>