<div>
    <h2>
        2 - <%= data.title %>
    </h2>

    <div>
        <% if(data.seconds % 2===0) {%>
            <% data.items.forEach( item=> {%>
                <li>
                    <%= item %>
                </li>
                <%}) %>
                    <%}else{ %>
                        <p>current seconds: <%= data.seconds %>
                        </p>

                        <%} %>
    </div>
    <div>
        <%- data.htmlContent %>
    </div>

</div>