<footer id='footer' class="footer bgLevel5">

    <h4 id='contact' class="section-title">Conctact me:</h4>

    <div class="email">

        <a href="https://mail.google.com/mail/u/0/#inbox" target="blank">
            <img src="icons/email_color.png" alt="email" id="emailImg" class="icon">
        </a>

        <a href="https://mail.google.com/mail/u/0/#inbox" target="blank">
            <p id="emailActual"> victorgrinan@gmail.com </p>
        </a>
    </div>

    <div id="some">
        <a href="https://gitlab.com/VictorGrinan" target="blank">
            <img src="./icons/gitLab.png" alt="gitlab" class="some">
        </a>
        <a href="https://github.com/Victor-Grinan-Dev" target="blank">
            <img src="./icons/github_circle_white_border.png" alt="github" class="some">
        </a>

        <a href="https://www.linkedin.com/in/victor-gri%C3%B1an-892a741b7/" target="blank">
            <img src="./icons/Linkedin-logo-transparent-PNG.png" alt="Linked-in" class="some">
        </a>

        <a href="https://www.instagram.com/victor_grinan_dev/" target="blank">
            <img src="./icons/instagram_color.png" alt="Instagram" class="some">
        </a>

        <a href="https://twitter.com/GrinanVictor" target="blank">
            <img src="./icons/Twitter-X.png" alt="Twitter" class="some">
        </a>
    </div>

    <p>This page <a href="https://github.com/Victor-Grinan-Dev/Portfolio">source code</a> is accesible from my
        Github account.</p>
    <section id="licenseSection">
        <p id="copyRight" class="copyRight">Copyrights &copy; <span class="year"></span></p><!-- ;  -->
        <p id="love">Made with ❤️ from Finland</p>
    </section>

    <button id="scrollUp appButton" class="scrollUp invisible"><span class="material-symbols-outlined">
            arrow_upward
        </span></button>

</footer>


<%# Bootstrap: %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <%# JQuery: %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <%# main.js ???? %>
            <script src="main.js"></script>
            </body>

            </html>