<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Icon-->
    <link rel="shortcut icon" type="image/jpg" href="./icons/favicon.ico" />

    <!--Styles-->
    <link rel="stylesheet" href="styles_animations.css">
    <link rel="stylesheet" href="style.css">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">


    <!--Google Material Symbols-->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <title> Web Portfolio </title>
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg bg-light" id="menuBar">

            <div class="container-fluid flex-corners">

                <div id="logo">
                    <a href="#heroBanner">
                        <h1 id="v"> V </h1>
                    </a>
                    <a href="#heroBanner">
                        <h1 id="g"> G </h1>
                    </a>
                    <img src="./icons/logo_2.png" alt="logo">
                </div>

                <!-- hamburger menu: -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- menu bar: -->
                <div class="collapse navbar-collapse nav-tab" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item" id="aboutTab">
                            <a class="nav-link" aria-current="page" href="#aboutArticle">About</a>
                            <div class="indicator" id="aboutTabIndicator"></div>
                        </li>
                        <li class="nav-item" id="portfolioTab">
                            <a class="nav-link" href="#portfolio">Portfolio</a>
                            <div class="indicator" id="portfolioTabIndicator"></div>
                        </li>
                        <li class="nav-item" id="skillsTab">
                            <a class="nav-link" href="#skillsBoxes">Skills</a>
                            <div class="indicator" id="skillsTabIndicator"></div>
                        </li>
                        <li class="nav-item" id="certTab">
                            <a class="nav-link" href="#certificates">Certificates</a>
                            <div class="indicator" id="certTabIndicator"></div>
                        </li>
                        <li class="nav-item" id="contactTab">
                            <a class="nav-link" href="#contact">Conctact Me</a>
                            <div class="indicator" id="contactTabIndicator"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://en.bc.fi/qualifications/full-stack-web-developer-program/"
                                target="blank">HBC</a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>


        <section id="heroBanner">

            <div class="hexMap">

            </div>

            <div class='bannerContent'>
                <div id="intro">
                    <h4 id="hi" class="hand-write">Hi, I'm</h3>
                        <h2 id="my-name">
                            <div id="victor" class="hand-write">Victor</div>
                            <div id="grinan" class="hand-write"> Griñán</div>
                        </h2>
                        <h4 id="developer" class="hand-write">a <span>web developer</span></h3>
                </div>

                <div id="welcome">
                    <h4 id="welcome-to" class="flying1 hand-write">Welcome to </h4>
                    <h1 id='portfolio-word' class="flying2 hand-write">
                        "My <span class='portfolioWord'>Portfolio</span>"
                    </h1>
                </div>
            </div>

        </section>

    </header>