<h2 class="title"> About me </h2>

<p class="about">
    <br />
    <br />
    I am a coding <b>enthusiast</b>.
    <br />
    I started learning coding independently in 2019, and in June 2023 I graduated in Information and
    communication technologies from <a href="https://en.bc.fi/qualifications/full-stack-web-developer-program/"
        target="blank">Helsinki
        Business College (HBC)</a>, where I gained a solid understanding of programming, algorithms, and
    software design principles.
    <br />
    My background is in pedagogy and team leading. This has taught me to see the value of
    good <b>group dynamics</b>. In my previous workplaces, I have quickly advanced to responsible
    positions. I am particularly good at problem solving. My hobbies have taught me <b>patience</b>
    and <b>perseverance</b>.
    <br />
    "I found pleasure in creating apps and games, both independently and as part of a <b>collaborative</b>
    team."
    <br />
    <br />
    Now I'm looking into the next steps in my <b>lifelong learning</b>.
</p>
<br />
<div class='cvBtns'>
    <p>
        CV in PDF & Video:
    </p>
    <div>
        <a href="./documents/cv_image.png" target="_blank">
            <button class='appButton'>
                <span class="material-symbols-outlined">visibility</span>
            </button>
        </a>
        <a href="./documents/cv_victor_grinan_2023.pdf" target="_blank" download='cv_victor_grinan'>
            <button class='appButton'>
                <span class="material-symbols-outlined">download</span>
            </button>
        </a>
        <a href="https://www.youtube.com/watch?v=FXtfp2-87D8" target="_blank">
            <button class='appButton'>
                <span class="material-symbols-outlined">
                    play_circle
                </span>
            </button>
        </a>
    </div>
</div>

<br />
<h2 class="title"> About this page </h2>

<p class="about">
    This is just a static but mobile-friendly page displaying some of the small projects that I have created
    as part of my web development learning journey. I started this portfolio when I was schooling and kept
    adding features and small improvements ever since, without changing much the <a href="./documents/web_designs.jpg"
        target="_blank">original design.</a> made as a class assignment
    in the first weeks of <a href="https://en.bc.fi/qualifications/full-stack-web-developer-program/"
        target="blank">HBC</a> 01/2022.
    <br />
    <a href="https://github.com/Victor-Grinan-Dev/Portfolio"> Source code in Github</a>
</p>