<h2 id="project_title" class="title section-title">Projects</h2>

<h3 class="accordion" id='school_proj'> <a href="#project_title" class="portfolio-link">School Projects
        ></a>
</h3>
<div id="schoolProjects" class='schoolProjects panel'>
</div>

<h3 class="accordion" id='Silly Games'> <a href="#project_title" class="portfolio-link"> Silly Games
        ></a>
</h3>
<div id="sillyGames" class='personalProjects panel'>
</div>

<h3 class="accordion" id='Personal'> <a href="#project_title" class="portfolio-link"> Personal
        Projects
        ></a></h3>
<div id="personalProjects" class='personalProjects panel'>
</div>

<h3 class="accordion" id='Freelancer jobs'> <a href="#project_title" class="portfolio-link"> Freelancer jobs
        >
    </a></h3>
<div id="freelancer" class='freelancer panel'></div>

<h3 class="accordion" id='Other Internet'> <a href="#project_title" class="portfolio-link"> Other Internet
        Projects > </a> </h3>
<div id="internet" class='panel '>
    <div class='internet-filters'>

        <span class='filter-item'>
            <label for="react">All</label>
            <input type="radio" class='tech_filter' name='tech_filter' value='all' checked>
        </span>
        <span class='filter-item'>
            <img src="./icons/react.png" alt="filter-img" class='tiny-tech-img'>
            <label for="react">React</label>
            <input type="radio" class='tech_filter' name='tech_filter' value='react'>
        </span>
        <span class='filter-item'>
            <img src="./icons/tailwind.png" alt="filter-img" class='tiny-tech-img'>
            <label for="tailwind">Tailwind</label>
            <input type="radio" class='tech_filter' name='tech_filter' value='tailwind'>
        </span>
        <span class='filter-item'>
            <img src="./icons/sass.png" alt="filter-img" class='tiny-tech-img'>
            <label for="scss">SCSS</label>
            <input type="radio" class='tech_filter' name='tech_filter' value='sass'>
        </span>
        <span class='filter-item'>
            <img src="./icons/vue.png" alt="filter-img" class='tiny-tech-img'>
            <label for="vue">Vue</label>
            <input type="radio" class='tech_filter' name='tech_filter' value='vue'>
        </span>

    </div>
    <div id="internetProjects" class='internet'>
        <!-- INTERNET PROJECTS -->
    </div>
</div>

</article>